<footer class="footer">
    <span class="copyright">
        {{.Site.Title}} ©
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
    </span>
    <span class="publish">
      <a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
        CC BY 4.0
        <!--<img src="{{.Site.Root}}/images/cc88x31.png" alt="License" data-pin-nopin="true" />-->
      </a>
    </span>
    <span class="publish">Powered by <a href="http://www.inkpaper.io/" target="_blank">Ink</a></span>
</footer>